    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--  <h1 class="brand-heading">{{ site.title }}</h1> -->
                        <img src="https://www.thephdrapper.com/img/logo_website.png" style="width: 60%; height: 60%"/>
                        <a href="https://www.youtube.com/channel/UC6FtSJ4Qz3FzYIEwbFVLYFA?sub_confirmation=1"><span style="display:inline-block"><img src="https://www.thephdrapper.com/img/subscribe.png" style="max-width: 30%" title="Subscribe to PomDP on YouTube" alt="Subscribe"></span></a>
                        <br>
                        <br>
                        <h2><a href="https://www.youtube.com/embed/NZgoG46RY5I" target="_blank">New Single: UNDERDOG</a></h2>
                        <iframe src="https://open.spotify.com/embed/track/3ladwYg69a1pt2Oco97g5O" width=380" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        
                        <!-- No longer being used -->
                        <!--  <h2><a href="https://www.youtube.com/embed/NZgoG46RY5I" target="_blank">New Single: Feel Good</a></h2>
                        <iframe width="450" height="450" src="https://www.youtube.com/embed/NZgoG46RY5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>  -->
                      
                        <br>
                        
                        <ul class="list-inline banner-social-buttons">
                            
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!--  <p class="intro-text">{{ site.description }}<br> -->
<!--                         <a href="#latest" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
